:root {
    --pink: #FF00BF;
    --black: #11111F;
    --white: #FFFFFF;
}

body {
    background-color: var(--black);
}

h1 {
    text-align: center;
    color: var(--pink);
}

h2 {
    text-align: center;
    color: var(--pink);
}

h3 {
    text-align: center;
    color: var(--pink);
}

label {
    color: var(--white);
}

span {
    color: var(--white);
}

button {
    background-color: var(--pink);
    color: var(--white);
    font-weight: bold;
    justify-content: center;
    display: block;
    margin: 0 auto; 
    border: none;
}

.main {
    justify-content: center; 
    display: flex;
}

