:root {
    --pink: #FF00BF;
    --black: #11111F;
    --white: #FFFFFF;
}

body {
    background-color: var(--black);
}

h1 {
    color: var(--pink);
}

h2 {
    color: var(--pink);
}

h3 {
    color: var(--pink);
}

label {
    color: var(--white);
}

span {
    color: var(--white);
}